body{
    color: black;
    margin: 0;
    padding: 0;
}
.btn{
    text-decoration: none;
    margin-top: 3rem;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    background-color: #23326B;
    color: white;
    font-weight: bold;
}